<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewUserServlet</servlet-name>
  	<display-name>NewUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.NewUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBook</servlet-name>
  	<display-name>AddBook</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.AddBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBook</servlet-name>
  	<display-name>DeleteBook</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.DeleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBar</servlet-name>
  	<display-name>SearchBar</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.SearchBar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrowBook</servlet-name>
  	<display-name>BorrowBook</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.BorrowBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnBook</servlet-name>
  	<display-name>ReturnBook</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.ReturnBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAuthor</servlet-name>
  	<display-name>AddAuthor</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.AddAuthor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddLanguage</servlet-name>
  	<display-name>AddLanguage</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.AddLanguage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAuthor</servlet-name>
  	<display-name>UpdateAuthor</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.UpdateAuthor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateLanguage</servlet-name>
  	<display-name>UpdateLanguage</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.UpdateLanguage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPublication</servlet-name>
  	<display-name>AddPublication</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.AddPublication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePublication</servlet-name>
  	<display-name>UpdatePublication</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.UpdatePublication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewUserServlet</servlet-name>
  	<url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBook</servlet-name>
  	<url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBook</servlet-name>
  	<url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBar</servlet-name>
  	<url-pattern>/SearchBar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrowBook</servlet-name>
  	<url-pattern>/BorrowBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnBook</servlet-name>
  	<url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAuthor</servlet-name>
  	<url-pattern>/AddAuthor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddLanguage</servlet-name>
  	<url-pattern>/AddLanguage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAuthor</servlet-name>
  	<url-pattern>/UpdateAuthor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateLanguage</servlet-name>
  	<url-pattern>/UpdateLanguage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPublication</servlet-name>
  	<url-pattern>/AddPublication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePublication</servlet-name>
  	<url-pattern>/UpdatePublication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
